{% extends "layout.html" %}
{% block title %}Study{% endblock %}
{% block body %}

<main>
    <table id="table_study">
        <tr>
          <th class="year-institution">Year</th>
          <th class="degree">Degree</th> 
          <th class="year-institution">Name of Institution</th>
        </tr>
        <tr>
          <td class="year-institution">2016 - 2018</td>
          <td class="degree">Master II in BioInformatics</td> 
          <td class="year-institution">École Nationale Supérieure d’Informatique et d’Analyse des Systèmes
            (ENSIAS), Faculté de Médecine et de Pharmacie de Rabat
            (Biotechnology Lab), Université Mohammed-V de Rabat</td>
        </tr>
        <tr>
          <td class="year-institution">2012 - 2015</td>
          <td class="degree">Licence en Science Mathématiques et Informatique</td> 
          <td class="year-institution">Faculté des Sciences Semlalia de Marrakech, Université Cadi Ayyad</td>
        </tr>
      </table>
</main>

{% endblock %}
    